* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

button {
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(to right, #667eea, #764ba2);
  /* #667eea → #764ba2 */
}
.App {
  font-family: sans-serif;
  /* text-align: center; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: transparent;
  height: 100vh;
  flex-direction: column;
}

.main-logo-part1 {
  color: white;
  display: inline;
  font-family: sans-serif;
}
.main-logo-part2 {
  display: inline;
  color: rgb(154, 219, 208);
  font-family: sans-serif;
}

.app-header {
  flex: 1;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.redclass {
  border: 1px solid red;
}
.fillit {
  background-color: salmon;
}
.logo {
  flex:1;
}
nav {
  flex:1;
  display: flex;
  justify-content: flex-end;
  color: white;

}

.LoginStatus {
  flex:1
}
.nav-links {
  display: flex;
  justify-content: flex-end;
    width: 100%;
  flex-direction: row;
}
.nav-link {
  display: flex;
  margin-left: 10px;
}
.app-content {
  display: flex;
  flex-grow: 1;
  flex: 9;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.app-nav {
  display: flex;
}

.LoginForm {
  display: flex;
  align-self: center;
}

.login-form {
  width: 25vw;
  justify-content: space-between;
  align-content: center;
  /* background: linear-gradient(to right,#96deda,#f4f7f6); */
  padding: 20px;
  border-radius: 10px;
  box-shadow: white;
}

.lock-image {
  width:70px;
  height: 70px;
  align-self: center;
}

.form-item {
  margin-top: 10px;
  height: 40px;
  border: 1px solid gray;
}

.login-form-input {
  padding: 5px;
  font-size: 18px;
  border-width: 0px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 6px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
}
.login-form-input {
  outline: none;
}

.form-item + button {
  font-family: arial;
  color: #14396a !important;
  font-size: 14px;
  padding: 10px 25px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #63b8ee;
  height: 40px;
}
.form-item + button:hover {
  color: #14396a !important;
  background: solid;
}
@media screen and (max-width: 768px) {
  .login-form {
    width: 50vw;
    justify-content: space-between;
    align-content: center;
  }
}

@media screen and (max-width: 400px) {
  .login-form {
    width: 90vw;
    padding: 5px;
    justify-content: space-between;
    align-content: center;
  }
  .logo,nav{
    font-size: 12px;
  }
}


